@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --FF: 'Kumbh Sans', sans-serif;
    --FS: 12px;
    --DESATURATEDBLUETEXTCOLOR: hsl(238, 29%, 16%);
    --SOFTREDTEXTCOLOR: hsl(14, 88%, 65%);
    --GRAYISHBLUETEXTCOLOR: hsl(240, 6%, 50%);
    --DARKGRAYISHBLUETEXTCOLOR: hsl(237, 12%, 33%);
    --SOFTVIOLETGRADIENTCOLOR: hsl(273, 75%, 66%);
    --SOFTBLUEGRADIENTCOLOR: hsl(240, 73%, 65%);
    --LIGHTBLUEDIVIDERCOLOR: hsl(240, 5%, 91%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    min-height: 100vh;
    background: linear-gradient(var(--SOFTVIOLETGRADIENTCOLOR), var(--SOFTBLUEGRADIENTCOLOR));
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    min-width: 335px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img__container {
    min-width: 250px;
    min-height: 200px;
    border: 1px solid black;
    position: relative;
    top: -7rem;
}

.img__container > * {
    width: 100%;
    position: absolute;
}
